*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.container{
    height: 712px;
    width: 215vh;
    background: rgb(80, 98, 98);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calc{
    background: rgb(54, 50, 50);
    padding: 20px;
    border-radius: 10px;
}

.calc form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: aliceblue;
    cursor: pointer;
    margin: 10 px;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal{
    width: 145px;
}

form input.o1{
    background-color: rgb(234, 59, 59);
}

form input.o2{
    background-color: rgb(161, 153, 153);
    border-radius: 30px;
}